{% extends "base.html" %}

{% block title %}
  Автомобили
{% endblock %}

{% block content %}
  <h2>Автомобили</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Марка</th>
        <th scope="col">Цвет</th>
        <th scope="col">Пробег</th>
        <th scope="col">Цена</th>
        <th scope="col">Тэги</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{ object.brand }}</td>
          <td>{{ object.color }}</td>
          <td>{{ object.mileage }}</td>
          <td>{{ object.price }}</td>
          <td>{{ object.price }}</td>
          <td>{% include 'tags.html' %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'paginator.html' %}

{% endblock %}